In [2]:
import numpy as np
import datetime as dt
import pandas as pd

In [4]:
# IMPORTANDO A BASE
base = pd.read_csv('Criando uma apresentação executiva.csv')
base.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94

In [10]:
# AJUSTANDO AS DATA QUE VAMOS UTILIZAR

# Mudando data de string para date
base['Order Date'] = pd.to_datetime(base['Order Date'], format='%d/%m/%Y')

# Criando colunas mês e ano
base['Ano'] = base['Order Date'].dt.year
base['Mes'] = base['Order Date'].dt.month

base.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Ano,Mes
0,1,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2017,11
1,2,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,2017,11

In [18]:
# PEGANDO SOMENTE AS COLUNAS QUE VAMOS PRECISAR USAR
baseresumida = base[['Product Name','Mes','Ano','Sales']]
baseresumida.head(2)

                                        Product Name  Mes   Ano   Sales
0                  Bush Somerset Collection Bookcase   11  2017  261.96
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...   11  2017  731.94

# Comparando a venda ano a ano

In [31]:
# AGRUPANDO PRODUTOS POR ANO
produtoano = baseresumida.groupby(['Product Name','Ano'])['Sales'].sum()

# Transformando em um DataFrame
produtoano = produtoano.reset_index()

# Mandando exibir
produtoano

                                           Product Name   Ano    Sales
0     "While you Were Out" Message Book, One Form pe...  2018   25.228
1              #10 Gummed Flap White Envelopes, 100/Box  2016    6.608
2              #10 Gummed Flap White Envelopes, 100/Box  2017   24.780
3              #10 Gummed Flap White Envelopes, 100/Box  2018    9.912
4                         #10 Self-Seal White Envelopes  2017   86.502
...                                                 ...   ...      ...
5269  invisibleSHIELD by ZAGG Smudge-Free Screen Pro...  2018  205.086
5270                 netTALK DUO VoIP Telephone Service  2015  335.936
5271                 netTALK DUO VoIP Telephone Service  2016  230.956
5272                 netTALK DUO VoIP Telephone Service  2017  377.928
5273                 netTALK DUO VoIP Telephone Service  2018  167.968

[5274 rows x 3 columns]

In [37]:
# FILTRANDO APENAS 1 PRODUTO
base2=produtoano[produtoano['Product Name'] == 'netTALK DUO VoIP Telephone Service']
base2

                            Product Name   Ano    Sales
5270  netTALK DUO VoIP Telephone Service  2015  335.936
5271  netTALK DUO VoIP Telephone Service  2016  230.956
5272  netTALK DUO VoIP Telephone Service  2017  377.928
5273  netTALK DUO VoIP Telephone Service  2018  167.968

Vamos utilizar o .pivot() para transformar os anos em colunas
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html

In [56]:
# UTILIZANDO O .PIVOT() PARA CRIAR UMA NOVA TABELA

# Criando uma nova base onde os anos são colunas e usando o reset_index para virar um DataFrame
basenova = produtoano.pivot(index='Product Name',columns='Ano',values='Sales').reset_index()

# Renomeando as colunas para que os anos sejam strings
basenova.columns= ('Product Name','2015','2016','2017','2018')

# Exibindo base
basenova

,Product Name,2015,2016,2017,2018
0,"""While you Were Out"" Message Book, One Form pe...",NaN,NaN,NaN,25.228
1,"#10 Gummed Flap White Envelopes, 100/Box",NaN,6.608,24.780,9.912
2,#10 Self-Seal White Envelopes,NaN,NaN,86.502,22.180
3,"#10 White Business Envelopes,4 1/8 x 9 1/2",156.700,12.536,125.360,84.618
4,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",62.928,134.596,NaN,89.148
...,...,...,...,...,...
1844,iKross Bluetooth Portable Keyboard + Cell Phon...,NaN,251.400,159.220,67.040
1845,iOttie HLCRIO102 Car Mount,39.980,NaN,55.972,119.940
1846,iOttie XL Car Mount,NaN,NaN,NaN,223.888
1847,invisibleSHIELD by ZAGG Smudge-Free Screen Pro...,32.382,43.176,161.910,205.086
1848,netTALK DUO VoIP Telephone Service,335.936,230.956,377.928,167.968

In [57]:
# CRIANDO UMA NOVA COLUNA COM A DIFERENÇA DE VENDAS ENTRE 2018 E 2017
basenova['Dif18_17'] = basenova['2018'] - basenova['2017']
basenova

,Product Name,2015,2016,2017,2018,Dif18_17
0,"""While you Were Out"" Message Book, One Form pe...",NaN,NaN,NaN,25.228,NaN
1,"#10 Gummed Flap White Envelopes, 100/Box",NaN,6.608,24.780,9.912,-14.868
2,#10 Self-Seal White Envelopes,NaN,NaN,86.502,22.180,-64.322
3,"#10 White Business Envelopes,4 1/8 x 9 1/2",156.700,12.536,125.360,84.618,-40.742
4,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",62.928,134.596,NaN,89.148,NaN
...,...,...,...,...,...,...
1844,iKross Bluetooth Portable Keyboard + Cell Phon...,NaN,251.400,159.220,67.040,-92.180
1845,iOttie HLCRIO102 Car Mount,39.980,NaN,55.972,119.940,63.968
1846,iOttie XL Car Mount,NaN,NaN,NaN,223.888,NaN
1847,invisibleSHIELD by ZAGG Smudge-Free Screen Pro...,32.382,43.176,161.910,205.086,43.176
1848,netTALK DUO VoIP Telephone Service,335.936,230.956,377.928,167.968,-209.960

In [58]:
# CRIANDO UMA NOVA COLUNA COM O % DA DIFERENÇA
basenova['%Dif18_17'] = basenova['2018']/basenova['2017']
basenova

,Product Name,2015,2016,2017,2018,Dif18_17,%Dif18_17
0,"""While you Were Out"" Message Book, One Form pe...",NaN,NaN,NaN,25.228,NaN,NaN
1,"#10 Gummed Flap White Envelopes, 100/Box",NaN,6.608,24.780,9.912,-14.868,0.400000
2,#10 Self-Seal White Envelopes,NaN,NaN,86.502,22.180,-64.322,0.256410
3,"#10 White Business Envelopes,4 1/8 x 9 1/2",156.700,12.536,125.360,84.618,-40.742,0.675000
4,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",62.928,134.596,NaN,89.148,NaN,NaN
...,...,...,...,...,...,...,...
1844,iKross Bluetooth Portable Keyboard + Cell Phon...,NaN,251.400,159.220,67.040,-92.180,0.421053
1845,iOttie HLCRIO102 Car Mount,39.980,NaN,55.972,119.940,63.968,2.142857
1846,iOttie XL Car Mount,NaN,NaN,NaN,223.888,NaN,NaN
1847,invisibleSHIELD by ZAGG Smudge-Free Screen Pro...,32.382,43.176,161.910,205.086,43.176,1.266667
1848,netTALK DUO VoIP Telephone Service,335.936,230.956,377.928,167.968,-209.960,0.444444

In [62]:
# ORDENANDO OS VALORES DA BASE
basenova=basenova.sort_values('Dif18_17')
basenova

,Product Name,2015,2016,2017,2018,Dif18_17,%Dif18_17
687,GBC Ibimaster 500 Manual ProClick Binding System,NaN,5402.958,12860.562,760.980,-12099.582,0.059172
838,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",2415.402,NaN,6367.878,1854.248,-4513.630,0.291188
19,"3D Systems Cube Printer, 2nd Generation, Magenta",NaN,NaN,9099.930,5199.960,-3899.970,0.571429
803,Hewlett Packard 610 Color Digital Copier / Pri...,1999.960,1799.964,4199.916,899.982,-3299.934,0.214286
498,DMI Eclipse Executive Suite Bookcases,4809.408,2429.753,3406.664,400.784,-3005.880,0.117647
...,...,...,...,...,...,...,...
1834,Xiaomi Mi3,NaN,NaN,2279.960,NaN,NaN,NaN
1837,Zebra GK420t Direct Thermal/Thermal Transfer P...,NaN,NaN,703.710,NaN,NaN,NaN
1838,Zebra GX420t Direct Thermal/Thermal Transfer P...,NaN,5521.880,265.475,NaN,NaN,NaN
1839,Zebra ZM400 Thermal Label Printer,NaN,6965.700,NaN,NaN,NaN,NaN
1846,iOttie XL Car Mount,NaN,NaN,NaN,223.888,NaN,NaN

In [63]:
# Selecionando apenas as 20 primeiras linhas
basenova.head(20)

,Product Name,2015,2016,2017,2018,Dif18_17,%Dif18_17
687,GBC Ibimaster 500 Manual ProClick Binding System,NaN,5402.9580,12860.562,760.980,-12099.582,0.059172
838,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",2415.402,NaN,6367.878,1854.248,-4513.630,0.291188
19,"3D Systems Cube Printer, 2nd Generation, Magenta",NaN,NaN,9099.930,5199.960,-3899.970,0.571429
803,Hewlett Packard 610 Color Digital Copier / Pri...,1999.960,1799.9640,4199.916,899.982,-3299.934,0.214286
498,DMI Eclipse Executive Suite Bookcases,4809.408,2429.7530,3406.664,400.784,-3005.880,0.117647
155,Apple iPhone 5,5328.606,NaN,5198.640,2469.354,-2729.286,0.475000
894,Ibico EPK-21 Electric Binding System,9449.950,NaN,4535.976,1889.990,-2645.986,0.416667
428,Chromcraft Round Conference Tables,NaN,244.0060,5176.413,2788.640,-2387.773,0.538721
369,Bretford “Just In Time” Height-Adjustable Mult...,NaN,NaN,3965.300,1669.600,-2295.700,0.421053
1024,Logitech P710e Mobile Speakerphone,772.470,617.9760,5407.290,3398.868,-2008.422,0.628571
854,Hon Rectangular Conference Tables,136.530,796.4250,2275.500,273.060,-2002.440,0.120000
858,Honeywell Enviracaire Portable HEPA Air Cleane...,2104.550,962.0800,3908.450,1924.160,-1984.290,0.492308
592,"Electrix Architect's Clamp-On Swing Arm Lamp, ...",NaN,NaN,2386.500,477.300,-1909.200,0.200000
871,"Hot File 7-Pocket, Floor Stand",1570.536,2427.1920,2998.296,1142.208,-1856.088,0.380952
167,"Atlantic Metals Mobile 3-Shelf Bookcases, Cust...",521.960,3625.0122,2609.800,782.940,-1826.860,0.300000
832,Hon 4700 Series Mobuis Mid-Back Task Chairs wi...,1067.940,NaN,4164.966,2349.468,-1815.498,0.564103
758,Global Leather Highback Executive Chair with P...,1688.232,1849.0160,2130.388,321.568,-1808.820,0.150943
906,"Iceberg OfficeWorks 42"" Round Tables",NaN,754.9000,2249.602,452.940,-1796.662,0.201342
738,Global Comet Stacking Arm Chair,NaN,2957.5700,2239.303,887.271,-1352.032,0.396226
1548,Tennsco 6- and 18-Compartment Lockers,5568.570,2121.3600,1856.190,530.340,-1325.850,0.285714

In [64]:
# QUANTOS PRODUTOS TIVERAM AUMENTO DE VENDA? EM VALOR
basenova[basenova['Dif18_17']>0]

,Product Name,2015,2016,2017,2018,Dif18_17,%Dif18_17
1128,Newell 322,22.568,NaN,3.640,4.368,0.728,1.200000
254,Avery Hi-Liter Smear-Safe Highlighters,NaN,54.896,29.200,30.368,1.168,1.040000
1795,Xerox 201,NaN,25.920,41.472,42.768,1.296,1.031250
675,G.E. Halogen Desk Lamp Bulbs,36.296,13.960,5.584,6.980,1.396,1.250000
1623,Wilson Jones Active Use Binders,29.120,43.680,20.384,21.840,1.456,1.071429
...,...,...,...,...,...,...,...
112,Adjustable Depth Letter/Legal Cart,362.920,1959.768,362.920,4754.252,4391.332,13.100000
649,Fellowes PB500 Electric Punch Plastic Comb Bin...,2033.584,15760.276,2287.782,7371.742,5083.960,3.222222
1387,Samsung Galaxy Mega 6.3,1679.960,NaN,3023.928,9239.780,6215.852,3.055556
685,GBC DocuBind TL300 Electric Binding System,5740.736,1345.485,1793.980,10943.278,9149.298,6.100000
404,Canon imageCLASS 2200 Advanced Copier,NaN,NaN,25899.926,35699.898,9799.972,1.378378

In [65]:
# QUANTOS PRODUTOS TIVERAM QUEDA DE VENDA? EM VALOR
basenova[basenova['Dif18_17']<0]

,Product Name,2015,2016,2017,2018,Dif18_17,%Dif18_17
687,GBC Ibimaster 500 Manual ProClick Binding System,NaN,5402.958,12860.562,760.980,-12099.582,0.059172
838,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",2415.402,NaN,6367.878,1854.248,-4513.630,0.291188
19,"3D Systems Cube Printer, 2nd Generation, Magenta",NaN,NaN,9099.930,5199.960,-3899.970,0.571429
803,Hewlett Packard 610 Color Digital Copier / Pri...,1999.960,1799.964,4199.916,899.982,-3299.934,0.214286
498,DMI Eclipse Executive Suite Bookcases,4809.408,2429.753,3406.664,400.784,-3005.880,0.117647
...,...,...,...,...,...,...,...
92,Acme Kleen Earth Office Shears,30.264,NaN,7.760,6.208,-1.552,0.800000
16,3-ring staple pack,5.640,16.920,10.528,9.024,-1.504,0.857143
59,Acco Economy Flexible Poly Round Ring Binder,1.044,NaN,4.176,3.132,-1.044,0.750000
1480,SpineVue Locking Slant-D Ring Binders by Cardinal,15.538,8.226,43.872,42.958,-0.914,0.979167
142,"Ampad Gold Fibre Wirebound Steno Books, 6"" x 9...",NaN,17.640,44.982,44.100,-0.882,0.980392

In [67]:
# QUANTOS PRODUTOS NAO TIVERAM QUEDA/AUMENTO DE VENDA? EM VALOR
basenova[basenova['Dif18_17']==0]

,Product Name,2015,2016,2017,2018,Dif18_17,%Dif18_17
1229,Panasonic KP-350BK Electric Pencil Sharpener w...,NaN,55.328,34.580,34.580,0.0,1.0
371,Brother DCP1000 Digital 3 in 1 Multifunction M...,1199.960,2699.910,479.984,479.984,0.0,1.0
504,Dana Swing-Arm Lamps,25.632,49.128,17.088,17.088,0.0,1.0
1821,Xerox 225,45.360,19.440,66.096,66.096,0.0,1.0
1566,Tops Green Bar Computer Printout Paper,48.940,NaN,146.820,146.820,0.0,1.0
392,C-Line Cubicle Keepers Polyproplyene Holder w/...,164.220,131.376,109.480,109.480,0.0,1.0
207,Avery 499,82.668,23.904,34.860,34.860,0.0,1.0
1311,Project Tote Personal File,67.344,98.210,14.030,14.030,0.0,1.0
1144,Newell 337,NaN,NaN,5.248,5.248,0.0,1.0
110,"Adams Telephone Message Books, 5 1/4” x 11”",4.832,56.776,9.664,9.664,0.0,1.0
1329,Recycled Data-Pak for Archival Bound Computer ...,434.676,NaN,592.740,592.740,0.0,1.0
465,"Computer Room Manger, 14""",149.408,227.360,129.920,129.920,0.0,1.0
1230,Panasonic KP-380BK Classic Electric Pencil Sha...,NaN,172.704,266.252,266.252,0.0,1.0
1790,Xerox 1999,12.960,59.616,12.960,12.960,0.0,1.0
1091,Mitel 5320 IP Phone VoIP phone,907.152,NaN,604.768,604.768,0.0,1.0
956,KeyTronic E03601U1 - Keyboard - Beige,NaN,90.000,108.000,108.000,0.0,1.0
642,Fellowes High-Stak Drawer Files,281.904,1550.472,1057.140,1057.140,0.0,1.0
1454,Smead Alpha-Z Color-Coded Second Alphabetical ...,4.928,30.800,6.160,6.160,0.0,1.0
1404,SanDisk Ultra 64 GB MicroSDHC Class 10 Memory ...,95.976,239.940,295.926,295.926,0.0,1.0
916,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,525.528,NaN,700.704,700.704,0.0,1.0
1445,Sharp AL-1530CS Digital Copier,1199.976,2799.944,1199.976,1199.976,0.0,1.0
432,Cisco CP-7937G Unified IP Conference Station P...,NaN,NaN,695.700,695.700,0.0,1.0
1706,Xerox 1921,23.976,NaN,15.984,15.984,0.0,1.0
91,Acme Hot Forged Carbon Steel Scissors with Nic...,22.240,144.560,69.500,69.500,0.0,1.0
962,Kingston Digital DataTraveler 8GB USB 2.0,5.950,NaN,19.040,19.040,0.0,1.0
434,Cisco IP Phone 7961G-GE VoIP phone,NaN,1732.640,259.896,259.896,0.0,1.0
1690,Xerox 1907,NaN,NaN,49.120,49.120,0.0,1.0
1671,Xerox 189,104.850,NaN,838.800,838.800,0.0,1.0
1584,"Ultra Door Kickplate, 8""H x 34""W",NaN,NaN,79.120,79.120,0.0,1.0